<div class="grid grid-cols-1 sm:grid-cols-5 gap-4">
   <div class="sm:col-span-3 sm:col-start-2 sm:row-span-full bg-base-200 border-base-300 rounded-box border p-4">
      <h2 class="text-2xl mb-4">Perfil</h2>
      <%# Profile image %>
      <div class="mb-4 flex justify-center sm:justify-end">
         <div class="avatar">
            <div class="w-48 rounded-full">
              <% unless @user.avatar.file.nil? %>
                <%= image_tag(@user.avatar_url, alt: "Imagen de perfil #{current_user.name}") %>
              <% end %>
            </div>
         </div>

        <%= form_for @user, url: profile_path, method: :patch, html: { multipart: true } do |f| %>
          <p>
            <label>My Avatar</label>
            <%= f.file_field :avatar %>
            <%= f.hidden_field :avatar_cache %>
          </p>
          <%= f.submit "Update avatar", class: "btn btn-neutral"%>
        <% end %>
      </div>
     <div class="mb-4 flex bg-base-100 rounded-box p-4 shadow-md">
       <%= form_for @user, url: profile_path, method: :patch do |f| %>
         <%= f.label :name, class: "label " %><br />
         <%= f.text_field :name, class: "input" %>

         <%= f.label :bio, class:"label" %><br />
         <%= f.textarea :bio, class: "textarea" %>

         <%= f.label :pronouns, class: "label" %><br />
         <%= f.text_field :pronouns, class: "input" %>

         <%= f.submit "Actualizar perfil", class:"btn btn-neutral mt-4" %>
       <% end %>
     </div>
      <ul class="mb-4 list bg-base-100 rounded-box shadow-md">
         <li class="list-row">
           <div>Cambiar contraseña</div>
         </li>
      </ul>
   </div>
</div>
