<!DOCTYPE html>
<html>
  <head>
    <title>Tachyon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", type: "module" %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <main class="main grid col-auto sm:grid-cols-5 gap-2 <%= yield(:main_classes)%>">
      <%= render "layouts/flash" %>
      <div class="col-auto sm:col-span-5 sm:col-start-1 sm:row-span-4 row-start-2">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
